<div class="container">
<%if logged_in?(:owner)%>
  <p id="notice"><%= notice %></p>

<h1>Guitars</h1>


<%= link_to 'New Guitar', new_guitar_path %>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Serial</th>
      <th scope="col">Guitar Type</th>
      <th scope="col">Qty</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @guitars.each do |guitar| %>
      <tr>
        <td><%= guitar.model %></td>
        <td><%= guitar.brand %></td>
        <td><%= guitar.price %></td>
        <td><%= guitar.serial %></td>
        <td><%= guitar.guitar_type %></td>
        <td><%= guitar.accessory_count%></td>
        <td><%= link_to 'Show', guitar %></td>
        <td><%= link_to 'Edit', edit_guitar_path(guitar) %></td>
        <td><%= link_to 'Destroy', guitar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%else%>
  <div class="text-center">
    <h1>You are not authorized here</h1>
    <%= image_tag asset_path('unauthorized.png'),height:"50%"%>
  </div>
<%end%>

