<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Guitar Zone</h5>
      	
      	<%unless logged_in?(:owner)%>
      		<%=form_tag search_product_path,class:"form-inline mt-2 mt-md-0 text-center" do%>
      			<%=text_field_tag :query,params['query'],class:"form-control mr-sm-2" %>
      			<%=button_tag(type: 'submit',class:"btn btn-outline-primary my-2 my-sm-0") do
  					content_tag(:strong, '<i class="fa fa-search"></i>'.html_safe)
				end%>
      		<%end%>
	    </form>	
      	
      	<%end%>
      	

      	<nav class="my-2 my-md-0 mr-md-3">       
		    
		    <%=link_to :Home, root_path,class:"p-2 text-dark"%>
		    
			<%if current_user%>
					<%if logged_in?(:owner)%>
						<%=link_to :Guitars,guitars_path,class:"p-2 text-dark"%>
						<%=link_to :Accessories,accessories_path,class:"p-2 text-dark"%>
						<%=link_to :Invoices,all_orders_path,class:"p-2 text-dark"%>
					<%else%>
						
						<%=link_to "Cart#{(': '+session[:cart].size.to_s) if session[:cart].size>0}",checkout_path,class:"p-2 text-dark",id:"cart"%>
						<%=link_to "My Orders",my_orders_path,class:"p-2 text-dark"%>
					<%end%>
		</nav>
					<%=link_to :Logout, destroy_user_session_path , method: :delete,class:"btn btn-outline-danger"%>
			<%else%>
					<%=link_to :Login, new_user_session_path,class:"btn btn-outline-success"%>
			<%end%>   
</div>