<style type="text/css">
  body {
    background-image: url("<%=asset_path('guitarzone_logo.jpeg')%>");
    background-repeat: no-repeat;
    background-position: left center;
}
</style>
<div class="container">      
  
  <div id="loginbox" style="margin-top:50px;left: 75%;" class="jumbotron col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <h2 class="text-center">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off",class:"form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in",class:"btn btn-outline-primary" %><br>
        </div>
      <% end %>
      <br>
      <br>

      <%= render "devise/shared/links" %>
  </div>