<div class="container">
<%if logged_in?(:owner)%>


<p id="notice"><%= notice %></p>

<h1>Accessories</h1>
<%= link_to 'New Accessory', new_accessory_path %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Characteristic</th>
      <th scope="col">Qty</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @accessories.each do |accessory| %>
      <tr>
        <td><%= accessory.name %></td>
        <td><%= accessory.price %></td>
        <td><%= accessory.characteristic %></td>
        <td><%= accessory.accessory_count %></td>
        <td><%= link_to 'Show', accessory %></td>
        <td><%= link_to 'Edit', edit_accessory_path(accessory) %></td>
        <td><%= link_to 'Destroy', accessory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%else%>
  <h1>You are not authorized here</h1>
<%end%>

